body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    background-color: #632f2f;
    font-family: serif;
}

.output-box {
    display: inline-block;
    position: relative;
    min-height: 15em;
    max-height: 20em;
    width: 25em;
    background-color:#e8e0cf;
    color: #4c4c4c;
    text-align: left;
    padding: 0.1em 1em 1em 1em;
    margin: 0.5em;
    border-radius: 2%;
    font-size: 1.5em;
}

.output-box h3 {
    text-align: center;
    font-weight: 900;
}

.output-box p {
    margin: 0.5em;
}

.output-prefix {
    font-weight: 700;
}

.output-main {
    float: right;
    max-width: 100%;
}

.output-number {
 
}

.output-line {
     background-color:#d4cebf75;
     padding: 0em 1em;
     border-radius: 1em;
     font-weight: 500;
}

button {
    border-radius: 1%;
}

button:hover,
select:hover {
    background-color:#383838;
}

select,
button,
input {
    background-color:#4c4c4c;
    color:white;
}

#generator {
    text-align: center;
    background-color: #471f1f;
    margin: 0 auto;
    width: 450px;
    max-height: 550px;
    padding: 2em 0em;
}

#generator label,
#generator select,
#generator button,
#generator input {
    padding: 0.5em;
    margin: 0.2em;
}

#generator label {
    text-align: left;
}

#update-button {
    position: relative;
    top: 0.5rem;
    width: 20rem;
}

.input-line {
    margin: 0.2rem auto;
}

.type-selector {
    position: relative;
    bottom: 1rem;
}

.type-selector select {
    width: 10rem;
    text-align: center;
}

#npc-name {
    width: 15rem;
}

