body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    background-color: #632f2f;
    font-family: serif;
}

.output-box {
    display: inline-block;
    position: relative;
    min-height: 25rem;
    max-height: 50rem;
    min-width: 50rem;
    max-width: 80rem;
    background-color:#e8e0cf;
    color: #4c4c4c;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2%;
    font-size: 1.5rem;
}

.output-box h3 {
    text-align: center;
    font-weight: 900;
}

.output-prefix {
    font-weight: 700;
    margin-right: 0.5rem;
}

.output-main {
    float: right;
    max-width: 100%;
}

.output-line {
     background-color:#d4cebf75;
     border-radius: 1rem;
     font-weight: 500;
     display: block;
     width: 90%;
     margin: 1.5rem auto;
     
}

.output-box p {
     max-width: 85%;
     position: relative;
     padding: 0em 1rem;
     
}

button {
    border-radius: 1%;
}

button:hover,
select:hover {
    background-color:#383838;
}

select,
button,
input {
    background-color:#4c4c4c;
    color:white;
}

#generator {
    max-height: 50rem;
    width: 100%;
}

#npc-input {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: #471f1f;
    margin: 0 auto;
    width: 50rem;
    min-height: 25rem;
    padding: 2rem 0;
}

#generator label,
#generator select,
#generator button,
#generator input {
    padding: 0.5em;
    margin: 0 0.2rem 1rem 0.2rem;
}

#generator label {
    text-align: left;
}

#update-button {
    width: 20rem;
}

.type-selector select {
    width: 10rem;
    text-align: center;
}

#npc-name {
    width: 15rem;
}

